.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    padding: 10px;
}

.contactsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.contactsContainer form {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 300px;
}

@media screen and (max-width:648px){
    .contactsContainer form{
        width: 90%;
    }
}