@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.contact {
  background-color: $bgColor;
  padding: 20px;
  opacity: 0.95;

  .contactContainer {
    .card {
      border-radius: .5rem;
      border-width: 1px;
      border-color: rgb(255 255 255/var(--tw-border-opacity));
      --tw-border-opacity: 0.1;
      --tw-bg-opacity: 1;
      background-color: rgb(22 32 51/var(--tw-bg-opacity));
      --tw-backdrop-blur: blur(12px);
      -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
      backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    }

    @include flex(column, _, center, _);
    row-gap: 30px;

    .title {
      @include title();
    }

    .contactForm {
      @include flex(column, _, center, _);
      row-gap: 15px;
      width: 50%;
      padding-bottom: 20px;

      input, textarea {
        width: 100%;
      }

      @media screen and (max-width: 648px) {
        width: 80%;
      }
    }
  }
}





