@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";
@import "src/contact/Contact.module";

.hiring {
  background-color: $bgSecondColor;
  padding: 20px;

  .hiringContainer {
    @include container();
    @include flex(column, flex-start, center, _);
    row-gap: 30px;

    h2 {
      @include title();

      span {
        color: $primaryColor;
      }

    }
  }
}


