.hiring{
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.hiringContainer{
    flex-direction: column;
    justify-content: flex-start;
    row-gap:30px;
}

