@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.skill {
  width: 250px;

  background-color: $bgSecondColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-width: 1px;
  border-color: $borderColor;
}

.title {
  @include text($primaryFontFamily, 700, 25px, 1.5, $textColor);
}

.icon {
  height: 80px;
  width: 80px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.description {
  padding: 10px;
  color: $pTextColor;
}