.skillsBlock {
    /*background-color: #0f172a;*/
    background-color: rgb(15 23 42/1);
    padding: 10px;
    opacity: 0.95;

}

.skillsContainer {

    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: dimgray;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}

@media screen and (max-width:650px){
    .skills{
        justify-content: center;
    }
}

