@mixin text($fontFamily,$fontWeight,$fontSize,$lineHeight,$color) {
  font-family: $fontFamily;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color;
}
@mixin container(){
  margin: 0 auto;
  width:80%
}

@mixin flex($direction,$justifyContent,$alignItems,$wrap){
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $wrap;
}