.footer {
    background-color: seagreen;
padding: 10px;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.socialContainer {
    border: 1px solid;
    background-color: cornsilk;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}