@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";
.footer {
  background-color: $bgSecondColor;
  padding: 10px;
  .footerContainer {
    @include container();
    @include flex(column,_,center,_);
    row-gap: 20px;
    .title {
      font-family: 'Radio Canada', sans-serif;
      font-weight: 400;
      color: $textColor;
      position: relative;
      margin-bottom: 0.5rem;
      display: block;
      z-index: 10;
      @media screen and (min-width: 774px) {
        font-size: 15px;
        line-height: 1.2;
        span {
          color: $primaryColor;
        }
      }
    }
    .socialContainer {
      height: auto;
      display: flex;
      flex-direction: row;
      column-gap: 20px;
    }
  }
}



