.projectsBlock {
    background-color: khaki;
    padding: 10px;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}


.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*@media screen and (max-width:650px){*/
/*    .projects {*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*    }*/
/*}*/